<% let hasPosts = false; %>
<h2>Home Page</h2>
<section class="home">
    <article>
        <p>I'm <a href="/about">Danidre</a>, a game programmer, web developer, and software engineer!</p>
    </article>
    <%- include('./partials/_twitch_emb.ejs') %>
    <article>
        <h3>Recent News</h3>
        <div style="max-height:15rem;overflow:auto;">
            <% posts.forEach(post => { %>
                <% const createdAt = formatDistanceToNow(post.createdAt);
                const updatedAt = formatDistanceToNow(post.updatedAt);
                let lastChanged = '';
                if(createdAt !== updatedAt) {
                    lastChanged = ' *';
                } %>
                <a href="/posts/view/<%= post.name %>" class="description encapsulated-box" style="text-decoration:none;margin-bottom:1rem;">
                    <% if(post.image) { %>
                        <img class="game-img" style="margin-right:1.2rem;" src="<%= post.image %>" alt="post image for <%= post.name%>" onerror="this.src = 'images/PostsIcon.png';">
                    <% } %>
                    <div style="width:100%;">
                        <div style="display:grid;grid-template-columns: auto auto;">
                            <p><%= post.title %> </p>
                            <i style="font-size:.56rem;text-align:right;"><%= createdAt %><%= lastChanged %></i>
                        </div>
                        <% if(post.summary) { %>
                            <pre><%= post.summary %></pre>
                        <% } else { %>
                            <span>Read <%= post.title %></span>
                        <% } %>
                    </div>
                </a>

                <% if(!hasPosts) { %>
                    <% hasPosts = true; %>
                <% } %>
            <% }); %>
            <% if(!hasPosts) { %>
                <p>No <a href="/posts">posts</a> yet. Stay tuned.</a></p>
            <% } %>
        </div>
    </article>
    <article class="common-grid">
        <div>
            <p>Similar developers:</p>
            <ul>
                <li><a href="https://zanzlanz.com/" target="_blank" rel="noreferrer">Zanzlanz</a></li>
                <li><a href="http://ultraboodog.com/" target="_blank" rel="noreferrer">Boodog</a></li>
            </ul>
        </div>
        <div>
            <p>Previous works:</p>
            <ul>  
                <li><a href="https://danicoder.weebly.com/" target="_blank" rel="noreferrer">Dani Coder</a></li>
                <li><a href="https://www.indiedb.com/company/dani-inc" target="_blank" rel="noreferrer">Dani-Inc</a></li>
            </ul>
        </div>
    </article>
    <article>
        <% //<a href="https://twitter.com/danidre?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-related="zanzlanz" data-show-count="false">Follow @Danidre</a> %>

        <a class="btn btn-primary" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A3000%2F&ref_src=twsrc%5Etfw&region=follow_link&screen_name=danidre&tw_p=followbutton">
            <div class="div-space-around">
                <img style="width:1rem;height:1rem;margin-right:var(--mini-spacing);" src="images/TwitterLogo2.png" alt=""> <span class="div-space-around">Follow @danidre</span>
            </div>
        </a>
    </article>
</section>
<meta name="description" content="Danidre is a game developer and software engineer!" />
<meta name="twitter:site" content="@danidre" />
<meta name="google-site-verification" content="hQuGFfREIGQFquGo0G8SOPsJpXkJ-kyd1QniXoBDbXk" />

<script async src="https://platform.twitter.com/widgets.js"></script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2781990552887713",
    enable_page_level_ads: true
});
</script>