<% let distanceToNow; %>
<h2>Users</h2>
<section class="users">
    <article>
    <% const pageParams = { url: `/u`, paginatedResults: paginatedResults /*currPage: currPage, pages: pages, prevLink: {p: parseInt(currPage - 1), s: searchParams}, nextLink: {p: parseInt(currPage + 1), s: searchParams}*/}; %>

        <form action="/u" method="GET">
            <div style="display:flex;justify-content: space-between;flex:1;">
                <input style="border-top-left-radius:1rem;border-bottom-left-radius:1rem;border-top-right-radius:0;border-bottom-right-radius:0;" class="input-inline" type="text" name="s" autocomplete="off" placeholder="Search names or bios" value="<%= paginatedResults.search %>">
                <button style="border-top-left-radius:0;border-bottom-left-radius:0;" class="btn btn-primary btn-inherit" type="submit">Search</button>
            </div>
        </form>

        <%- include('../partials/_previous_next_div', pageParams) %>

        <div>
            <% let hasUsers = false; %>
            <% paginatedResults.list.forEach(user => {%>
                <% if(!hasUsers) hasUsers = true; %>
                <div class="userList">
                    <div>
                        <a href="/u/<%= user.username %>/#navMenu">
                            <img src="<%= user.profileImagePath %>" onerror="if (this.src != '../../../images/UsersIcon.png') this.src = '../../../images/UsersIcon.png';">
                            <span><%= user.username %><%= user.email %></span>
                        </a>
                    </div>
                    <div>
                        <div>
                            <% distanceToNow = formatDistanceToNow(user.lastSeen); %>
                            <% if(distanceToNow === 'Online') { %>
                                <span class="bounded" style="color:var(--user-status-color-now);font-weight:500;font-size:.7rem;"><%= distanceToNow %> </span>
                            <% } else if(distanceToNow === 'never') { %>
                                <% distanceToNow = formatDistanceToNow(user.updatedAt, true); %>
                                <% if(distanceToNow === 'never') { %>
                                    <span class="bounded" style="color:var(--user-status-color-error);font-weight:500;font-size:.7rem;"><%= distanceToNow %> </span>
                                <% } else { %>
                                    <span class="bounded" style="color:var(--user-status-color-never);font-weight:500;font-size:.7rem;"><%= distanceToNow %> </span>
                                <% } %>
                            <% } else { %>
                                <span class="bounded" style="color:var(--user-status-color-then);font-weight:500;font-size:.7rem;"><%= distanceToNow %> </span>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }); %>

            <% if(!hasUsers) { %>
                <div style="text-align:center;font-size:.6rem;"><i>No results for your search.</i></div>
            <% } %>
        </div>
        <%- include('../partials/_previous_next_div', pageParams) %>
    </article>
</section>
<meta name="description" content="Search for users on Danidre's site.">
<meta name="twitter:site" content="@danidre">
