<% var uMessage;
var pMessage;
var p2Message;
var e2Message; %>
<h2>Sign Up</h2>
<section class="signup">
    <article>
        <form id="regForm" class="signings" action="/signup" method="POST">
            <div>
                <label for="username">Username</label>
                <input class="input" type="text" id="username" name="username" autocomplete="off" value="<%= bodyUname %>" placeholder="Enter username" autofocus required>
                <div>
                    <% if (uMessage) { %>
                        <pre id="usMessage" style="display:block;"><%= uMessage %></pre>
                    <% } else { %>
                        <pre id="usMessage" style="display:none;"></pre>
                    <% } %>
                </div>
            </div>
            <div>
                <label for="email">Email Address</label>
                <input class="input" type="email" id="email" name="email" autocomplete="off" value="<%= bodyEmail %>" placeholder="Enter email" required>
            </div>
            <div>
                <label for="email2">Confirm Email</label>
                <input class="input" type="email" id="email2" name="email2" autocomplete="off" placeholder="Re-Enter email" required>
                <div>
                    <% if (e2Message) { %>
                        <pre id="e2Message" style="display:block;"><%= e2Message %></pre>
                    <% } else { %>
                        <pre id="e2Message" style="display:none;"></pre>
                    <% } %>
                </div>
            </div>
            <div>
                <label for="password">Password</label>
                <input class="input" type="password" id="password" name="password" placeholder="Enter password" required>
                <div>
                    <% if (pMessage) { %>
                        <pre id="pwMessage" style="display:block;"><%= pMessage %></pre>
                    <% } else { %>
                        <pre id="pwMessage" style="display:none;"></pre>
                    <% } %>
                </div>
            </div>
            <div>
                <label for="password2">Confirm Password</label>
                <input class="input" type="password" id="password2" name="password2" placeholder="Re-Enter password" required>
                <div>
                    <% if (p2Message) { %>
                        <pre id="pw2Message" style="display:block;"><%= p2Message %></pre>
                    <% } else { %>
                        <pre id="pw2Message" style="display:none;"></pre>
                    <% } %>
                </div>
            </div>
            <%/*<!--
            <div>
                <label for="fName">First Name</label>
                <input class="input" type="text" id="fName" name="fName" required>
            </div>
            <div>
                <label for="lName">Last Name</label>
                <input class="input" type="text" id="lName" name="lName" required>
            </div>
            <div>
                <label for="dob">Date of Birth</label>
                <input class="input" type="date" id="dob" name="dob" required>
            </div>
            -->*/%>
            <div>By signing up, you agree to our <a href="/legal/tos">Terms of Service</a> and <a href="/legal/privacy">Privacy Policy</a>.</div>
            <button class="btn btn-primary" id="sBtn" type="submit"
            <% if (uMessage!=''||pMessage!='') { %>
                style="display:none;"
            <% } else { %>
                style="display:block;"
            <% } %>
            >Sign Up</button>
        </form>
    </article>
    <article>
        <p> Already have an account? <a class="btn btn-primary" href="/signin">Sign In</a> </p>
    </article>
</section>
<meta name="description" content="Sign up for a Danidre account.">

<script defer src="/javascripts/signupValidation.js"></script>
