<% var description; %>
<% var title; %>
<% let hasGames = false; %>
<h2><%= title || "Game" %></h2>
<section class="games">
    <article>
        <% games.forEach(game => { %>
            <a href="<%= game.url %>" class="description encapsulated-box" style="text-decoration:none;margin-bottom:1rem;">
                <img class="game-img" src="<%= game.image %>" onerror="this.src = '../../images/GamesIcon.png';">
                <div style="padding-left:1.2rem;width:100%;">
                    <p><%= game.title %></p>
                    <% if(game.minidesc) { %>
                        <pre><%= game.minidesc %></pre>
                    <% } else { %>
                        <span>Play <%= game.title %></span>
                    <% } %>
                </div>
            </a>
            <% if(!hasGames) { %>
                <% hasGames = true; %>
            <% } %>
        <% }); %>
        <% if(!hasGames) { %>
            <p>No games yet. Stay tuned.</a></p>
        <% } %>
    </article>
</section>

<meta name="description" content="Browse Danidre's games!">
<meta name="twitter:site" content="@danidre">
