<h2><%= game.title || "Game" %></h2>
<section class="games">
    <article>
        <div id="gameArea">
        </div>
        <div id="highscoreArea">
        </div>
    </article>
    <article>
        <div style="border-top-left-radius:var(--panel-border-radius);border-top-right-radius:var(--panel-border-radius);"
            class="gameName">Description</div>
        <div style="text-align:left;border-top-left-radius:0;border-top-right-radius:0;" class="encapsulated-box">
            <div class="the_markdown light_text" style="padding-left:1.2rem;width:100%;color:var(--color-text-light);">
                <% if(game.description) { %>
                <%- MarkDownToUp(game.description) %>
                <% } else { %>
                <p>This game does not have any description.</p>
                <% } %>
            </div>
        </div>
    </article>
</section>

<meta name="description" content="Play <%= game.title %>! <%= game.minidesc || '' %>">

<meta name="twitter:site" content="@danidre">
<meta property="og:title" content="<%= game.title %>">
<meta property="og:description" content="<%= game.minidesc || '' %>">
<meta property="og:image" content="<%= game.image %>">
<meta property="og:image:width" content="150" />
<meta property="og:image:height" content="150" />
<meta property="og:image:alt" content="Game image for <%= game.title %>" />
<meta property="og:url" content="<%= game.url %>">
<meta name="twitter:card" content="summary">

<link rel="stylesheet" href="/utility/DialogBoxes.css">
<link rel="stylesheet" href="/games/engine/GamePanel.css">
<link rel="stylesheet" href="/games/engine/HighscoreAPI.css">

<script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script defer src="/utility/DialogBoxes.js"></script>
<script defer src="/games/engine/GamePanel.js"></script>
<script defer src="/games/engine/GameAudio.js"></script>
<script defer src="/games/engine/HighscoreAPI.js"></script>

<% game.scripts.forEach(script => { %>
<script defer src="<%= script %>"></script>
<% }); %>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2781990552887713",
        enable_page_level_ads: true
    });
</script>