<h2>Posts</h2>
<section>
    <article>
        <div class="div-space-between">
            <a class="btn btn-primary lock" href="/posts/view/<%= post.name %>">Cancel</a>
            <button class="btn btn-primary lock" onclick="attemptDeletingPost()">Delete</button>
            <button class="btn btn-primary lock" onclick="attemptSendingPost()">Save</button>
        </div>
        <button class="btn btn-primary" onclick="previewThePost()">Preview</button>
        <button class="btn btn-primary" onclick="editThePost()">Edit</button>
        <div id="Edits">
           <input class="input lock" id="title" type="text" autocomplete="off" value="<%= post.title %>" placeholder="title">
            <textarea class="textarea lock" name="content" id="content" rows="15"  autocomplete="off" placeholder="Post Content"><%= post.content %></textarea>
            <textarea class="textarea lock" name="content" id="summary" rows="3"  autocomplete="off" placeholder="Summary"><%= post.summary %></textarea>
            
            <div style="display:grid;grid-template-columns: 50% 30% auto;">
                <input class="input lock" id="image" type="text" autocomplete="off" value="<%= post.image %>" placeholder="image src">
                <input class="input lock" readonly disabled type="text" autocomplete="off" value="<%= post.name %>">
                <input class="input lock" readonly disabled type="text" autocomplete="off" value="<%= post.code %>">
            </div>
            <div style="display:none">
                <input class="input lock" style="display:none" id="name" readonly disabled type="password" autocomplete="off" value="<%= post.name %>">
                <input class="input lock" style="display:none" id="code" readonly disabled type="password" autocomplete="off" value="<%= post.code %>">
            </div>
        </div>
        <div class="the_markdown" id="Previews" style="display:none;"></div>
    </article>
</section>
<meta name="robots" content="none"/>
<link rel="stylesheet" href="/utility/DialogBoxes.css">

<script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script defer src="/utility/DialogBoxes.js"></script>

<script defer src="/javascripts/editPost.js"></script>
<script defer src="/javascripts/validatePost.js"></script>
<script defer src="/utility/MarkDownToUp.js"></script>
<script defer src="/javascripts/editPreviewPost.js"></script>
