<% var user; %>
<h2><%= post.title || "Game" %></h2>
<section class="posts">
    <article>
        <div class="the_markdown" style="text-align:left;">
            <%- MarkDownToUp(post.content) %>
        </div>
        <div class="div-space-between">
            <% const createdAt = formatDistanceToNow(post.createdAt);
            const updatedAt = formatDistanceToNow(post.updatedAt);
                const totalViews = post.views? post.views + (post.views==1? " view" : " views") : "1 view";
            let lastChanged = '';
            if(createdAt !== updatedAt) {
                lastChanged = `edited ${updatedAt}`;
            } %>
            <div>
                <a class="btn btn-primary" href="/posts">Other Posts</a>
                <% if(user !== undefined) {%>
                <%    if(isAdmin(user.username)) { %>
                <a class="btn btn-primary" href="/posts/view/<%= post.name %>/edit">Edit Post</a>
                <% } 
                } %>
            </div>
            <div style="display:grid;grid-template-rows: auto auto;">
                <i style="text-align:right;"><%= totalViews %> | <%= createdAt %></i>
                <i style="font-size:.7rem;text-align:right;"><%= lastChanged %></i>
            </div>

        </div>
    </article>
</section>

<meta name="description" content="Read <%= post.title %>. <%= post.summary || '' %>">

<meta name="twitter:site" content="@danidre">
<meta name="theme-color" content="#988176">
<meta property="og:title" content="<%= post.title %>">
<meta property="og:description" content="<%= post.summary || '' %>">
<meta property="og:image" content="<%= post.image %>">
<meta property="og:image:width" content="150" />
<meta property="og:image:height" content="150" />
<meta property="og:image:alt" content="Post image for <%= post.title %>" />
<meta property="og:url" content="<%= post.name %>">
<meta name="twitter:card" content="summary">